<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body class="sb-nav-fixed">
{% include "includes/_navbar.html" %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        {% if category=="error" %}
            <div class="alert alert-danger alert-dismissible" style="margin:2em">
                {{message}}
                <a href="#" class="close" data-dismiss="alert" aria-label="close" style="float:right">&times;</a>
             </div>
            {% elif category=="success" %}
            <div class="alert alert-success alert-dismissible" style="margin:2em">
                {{message}}
                <a href="#" class="close" data-dismiss="alert" aria-label="close" style="float:right">&times;</a>
             </div>
            {% else %}
            <div class="alert alert-success alert-dismissible" style="margin:2em">
                {{message}}
                <a href="#" class="close" data-dismiss="alert" aria-label="close" style="float:right">&times;</a>
             </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
{% block content %}
{% endblock %}

</body>
{% block javascript %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='assets/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/demo/chart-bar-demo.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
{% endblock %}
</html>