{% extends "baseForAccess.html" %}
{% block title %}User Info{% endblock %}

{% block main_content %}
<style>

        body {
          margin-top: 10px;
        }



</style>
{% for msg in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible pb-100 " role='alert'>{{ msg }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endfor %}

{% if 'user_updated' in session %}
<div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ session.pop('user_updated', None) }} was updated.
</div>

{% elif 'user_deleted' in session %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ session.pop('user_deleted', None) }} was deleted.
</div>

{% endif %}

<h1 class="display-4">Account Details</h1>

{% if session['profile_pic'] %}

<a><img src="{{ url_for('send_image',filename = profile_pic) }}" width="220"
        height="200" alt="Profile Picture"></a>

{% elif session['profile_pic'] == False %}
<img src="{{ url_for('static',filename = 'assets/img/default.png') }}" width="220"
        height="200" alt="Profile Picture">

{% endif %}


<div>
    <table class="table table-striped">
        <thead>

        <tr>
            <th>First Name: {{ session['first_name'] }}</th>
        </tr>
        <tr>
            <th>Last Name: {{ session['last_name'] }}</th>
        </tr>
        <tr>
            <th>NRIC: {{session['username'] }}</th>
        </tr>

        <tr>
            <th>Phone Number: {{ session['phone_no'] }}</th>
        </tr>
        <tr>
            <th>Email: {{ session['email'] }}</th>
        </tr>

        <tr>
            <th>Address: {{ session['address'] }}</th>
        </tr>

        <tr>
            <th>Postal Code: {{ session['postal_code'] }}</th>
        </tr>
        <tr>
            <th>Tending Physician: {{ session['tending_physician'] }}</th>
        </tr>
        <tr>
            <th>Appointment: {{ session['appointment'] }}</th>
        </tr>
        </thead>
     
    </table>
</div>


{% endblock %}