{% extends "baseForAccess.html" %}
{% block title %}User Info{% endblock %}

{% block main_content %}
<style>

        body {
          margin-top: 10px;
        }



</style>
{% for msg in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible pb-100 " role='alert'>{{ msg }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endfor %}

{% if 'user_updated' in session %}
<div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ session.pop('user_updated', None) }} was updated.
</div>

{% elif 'user_deleted' in session %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ session.pop('user_deleted', None) }} was deleted.
</div>

{% endif %}

<h1 class="display-4">Account Details</h1>

{% if session['access_level'] == 'patient' %}

<div>
    <table class="table table-striped">
        <thead>

        <tr>
            <th>First Name: {{ session['first_name'] }}</th>
        </tr>
        <tr>
            <th>Last Name: {{ session['last_name'] }}</th>
        </tr>
        <tr>
            <th>NRIC: {{session['username'] }}</th>
        </tr>

        <tr>
            <th>Phone Number: {{ session['phone_no'] }}</th>
        </tr>
        <tr>
            <th>Email: {{ session['email'] }}</th>
        </tr>

        <tr>
            <th>Address: {{ session['address'] }}</th>
        </tr>

        <tr>
            <th>Postal Code: {{ session['postal_code'] }}</th>
        </tr>
        <tr>
            <th>Role: {{ session['access_level'] }}</th>
        </tr>
        <tr>
            <th>Tending Physician: {{ session['tending_physician'] }}</th>
        </tr>
        <tr>
            <th>Appointment: {{ session['appointment'] }}</th>
        </tr>
        </thead>
     
    </table>
</div>

{% elif session['access_level'] == 'researcher' %}

<div>
    <table class="table table-striped">
        <thead>

        <tr>
            <th>First Name: {{ session['first_name'] }}</th>
        </tr>
        <tr>
            <th>Last Name: {{ session['last_name'] }}</th>
        </tr>
        <tr>
            <th>Staff ID: {{session['username'] }}</th>
        </tr>
        <tr>
            <th>Phone Number: {{ session['phone_no'] }}</th>
        </tr>
        <tr>
            <th>Email: {{ session['email'] }}</th>
        </tr>

        <tr>
            <th>Address: {{ session['address'] }}</th>
        </tr>

        <tr>
            <th>Postal Code: {{ session['postal_code'] }}</th>
        </tr>
        <tr>
            <th>Role: {{ session['access_level'] }}</th>
        </tr>
        <tr>
            <th>Company: {{ session['company'] }}</th>
        </tr>
        </thead>
     
    </table>
</div>



{% elif session['access_level'] == 'head_admin' %}
<div>
    <table class="table table-striped">
        <thead>

        <tr>
            <th>First Name: {{ session['first_name'] }}</th>
        </tr>
        <tr>
            <th>Last Name: {{ session['last_name'] }}</th>
        </tr>
        <tr>
            <th>Staff ID: {{session['username'] }}</th>
        </tr>
        <tr>
            <th>Phone Number: {{ session['phone_no'] }}</th>
        </tr>
        <tr>
            <th>Email: {{ session['email'] }}</th>
        </tr>

        <tr>
            <th>Address: {{ session['address'] }}</th>
        </tr>

        <tr>
            <th>Postal Code: {{ session['postal_code'] }}</th>
        </tr>
        <tr>
            <th>Role: {{ session['access_level'] }}</th>
        </tr>

        </thead>
     
    </table>
</div>



{% elif session['access_level'] == 'hr' %}

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First Name: {{ session['first_name'] }}</th>
        </tr>
        <tr>
            <th>Last Name: {{ session['last_name'] }}</th>
        </tr>
        <tr>
            <th>Staff ID: {{session['username'] }}</th>
        </tr>
        <tr>
            <th>Phone Number: {{ session['phone_no'] }}</th>
        </tr>
        <tr>
            <th>Email: {{ session['email'] }}</th>
        </tr>

        <tr>
            <th>Address: {{ session['address'] }}</th>
        </tr>

        <tr>
            <th>Postal Code: {{ session['postal_code'] }}</th>
        </tr>
        <tr>
            <th>Role: {{ session['access_level'] }}</th>
        </tr>
        </thead>
    </table>
</div>


{% elif session['access_level'] == 'doctor' %}

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First Name: {{ session['first_name'] }}</th>
        </tr>
        <tr>
            <th>Last Name: {{ session['last_name'] }}</th>
        </tr>
        <tr>
            <th>Staff ID: {{session['username'] }}</th>
        </tr>
        <tr>
            <th>Phone Number: {{ session['phone_no'] }}</th>
        </tr>
        <tr>
            <th>Email: {{ session['email'] }}</th>
        </tr>

        <tr>
            <th>Address: {{ session['address'] }}</th>
        </tr>

        <tr>
            <th>Postal Code: {{ session['postal_code'] }}</th>
        </tr>
        <tr>
            <th>Role: {{ session['access_level'] }}</th>
        </tr>
        <tr>
            <th>Department: {{ session['department'] }}</th>
        </tr>
        </thead>
    </table>
</div>

{% endif %}
<table>
<tr>
    <td><a href="/updateUser" class="btn btn-warning">Edit Infomation</a>
    </td>
</tr>
</table>
{% endblock %}