{% extends "baseForAccess.html" %}

{% block main_content %}
{% if session['access_level'] == 'head_admin' %}


    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Create Hr Staff</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#hr">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Users List
                    </div>
                    <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Access Level</th>
                            <th>Full Name</th>
                            <th>Username/NRIC</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in doctors %}
                        <tr>
                            <td>{{x.access_level}}</td>
                            <td>{{x.first_name}} {{x.last_name}}</td>
                            <td>{{x.username}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phone_no}}</td>
                            <td>
                                <a href="{{url_for('remove', identifier=x.username, table=x.access_level)}}"><button type="button" class="btn btn-danger" href="{{url_for('remove', identifier=x.username, table=doctors)}}">Remove</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for x in patients %}
                        <tr>
                            <td>{{x.access_level}}</td>
                            <td>{{x.first_name}} {{x.last_name}}</td>
                            <td>{{x.username}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phone_no}}</td>
                            <td>
                                <a href="{{url_for('remove', identifier=x.username, table=x.access_level)}}"><button type="button" class="btn btn-danger" href="{{url_for('remove', identifier=x.username, table=x.access_level)}}">Remove</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for x in hr %}
                        <tr>
                            <td>{{x.access_level}}</td>
                            <td>{{x.first_name}} {{x.last_name}}</td>
                            <td>{{x.username}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phone_no}}</td>
                            <td>
                                <a href="{{url_for('remove', identifier=x.username, table=x.access_level)}}"><button type="button" class="btn btn-danger" href="{{url_for('remove', identifier=x.username, table=x.access_level)}}">Remove</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for x in researchers %}
                        <tr>
                            <td>{{x.access_level}}</td>
                            <td>{{x.first_name}} {{x.last_name}}</td>
                            <td>{{x.username}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phone_no}}</td>
                            <td>
                                <a href="{{url_for('remove', identifier=x.username, table=x.access_level)}}"><button type="button" class="btn btn-danger" href="{{url_for('remove', identifier=x.username, table=x.access_level)}}">Remove</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Access Level</th>
                            <th>Full Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Hospital</th>
                            <th>Phone Number</th>
                            <th>Options</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        
        <div class="col-xl-12">
                <div class="card bg-warning text-white mb-4" id='hr'>
                    <div class="card-body">Create HR Staff</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/hr-registration">Create HR Account</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        HR List
                    </div>
                    <table id="datatablesSimple" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>HR ID</th>
                            <th>Full Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in hr %}
                        <tr>
                            <td>{{x.hr_id}}</td>
                            <td>{{x.first_name}} {{x.last_name}}</td>
                            <td>{{x.username}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phone_no}}</td>
                            <td>
                                <a href="{{url_for('remove', identifier=x.username, table=x.access_level)}}"><button type="button" class="btn btn-danger" href="{{url_for('remove', identifier=x.username, table=x.access_level)}}">Remove</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>

{% endif %}
{% endblock %}

