{% extends "baseForAccess.html" %}
{% block main_content %}

    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Create Doctor</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#doctor">Create Doctor Account</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Create Patient</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#patient">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Create Hr Staff</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#hr">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Create Researchers</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#researchers">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
{#            <div class="col-xl-6">#}
{#                <div class="card mb-4">#}
{#                    <div class="card-header">#}
{#                        <i class="fas fa-chart-area me-1"></i>#}
{#                        Area Chart Example#}
{#                    </div>#}
{#                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>#}
{#                </div>#}
{#            </div>#}
            <div class="col-xl-12">
                <div class="card mb-">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Users List
                    </div>
                    <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Access Level</th>
                            <th>Full Name</th>
                            <th>Username/NRIC</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in doctors %}
                        <tr>
                            <td>{{x.access_level}}</td>
                            <td>{{x.first_name}} {{x.last_name}}</td>
                            <td>{{x.username}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phone_no}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" href="{{url_for('remove', variable=x.user_id)}}">Remove</button>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for x in patients %}
                        <tr>
                            <td>{{x.access_level}}</td>
                            <td>{{x.first_name}} {{x.last_name}}</td>
                            <td>{{x.username}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phone_no}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" href="{{url_for('remove', variable=x.user_id)}}">Remove</button>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for x in hrs %}
                        <tr>
                            <td>{{x.access_level}}</td>
                            <td>{{x.first_name}} {{x.last_name}}</td>
                            <td>{{x.username}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phone_no}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" href="{{url_for('remove', variable=x.user_id)}}">Remove</button>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for x in researchers %}
                        <tr>
                            <td>{{x.access_level}}</td>
                            <td>{{x.first_name}} {{x.last_name}}</td>
                            <td>{{x.username}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phone_no}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" href="{{url_for('remove', variable=x.user_id)}}">Remove</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Access Level</th>
                            <th>Full Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Hospital</th>
                            <th>Phone Number</th>
                            <th>Options</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
{#            <div class="col-xl-6">#}
{#                <div class="card mb-4">#}
{#                    <div class="card-header">#}
{#                        <i class="fas fa-chart-area me-1"></i>#}
{#                        Area Chart Example#}
{#                    </div>#}
{#                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>#}
{#                </div>#}
{#            </div>#}
            <div class="col-xl-12">
                <div class="card bg-primary text-white mb-4" id="doctor">
                    <div class="card-body">Create Doctor</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/doctor-registration">Create Doctor Account</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Doctor List
                    </div>
                    <table id="datatablesSimple" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Access Level</th>
                            <th>Full Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in doctors %}
                        <tr>
                            <td>{{x.access_level}}</td>
                            <td>{{x.first_name}} {{x.last_name}}</td>
                            <td>{{x.username}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phone_no}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" href="{{url_for('remove', variable=x.user_id)}}">Remove</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
                </div>
            </div>
        <div class="col-xl-12">
                <div class="card bg-success text-white mb-4" id="patient">
                    <div class="card-body">Create Patient</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/patient-registration">Create Patient Account</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Patient List
                    </div>
                    <table id="datatablesSimple" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Access Level</th>
                            <th>Full Name</th>
                            <th>NRIC</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in patients %}
                        <tr>
                            <td>{{x.access_level}}</td>
                            <td>{{x.first_name}} {{x.last_name}}</td>
                            <td>{{x.username}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phone_no}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" href="{{url_for('remove', variable=x.user_id)}}">Remove</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
                </div>
            </div>
        <div class="col-xl-12">
                <div class="card bg-warning text-white mb-4" id='hr'>
                    <div class="card-body">Create HR Staff</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/hr-registration">Create HR Account</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        HR List
                    </div>
                    <table id="datatablesSimple" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Access Level</th>
                            <th>Full Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in hrs %}
                        <tr>
                            <td>{{x.access_level}}</td>
                            <td>{{x.first_name}} {{x.last_name}}</td>
                            <td>{{x.username}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phone_no}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" href="{{url_for('remove', variable=x.user_id)}}">Remove</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
                </div>
            </div>
        <div class="col-xl-12">
                <div class="card bg-danger text-white mb-4" id='researchers'>
                    <div class="card-body">Create Researchers</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="/researchers-registration">Create Researcher Account</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Researcher List
                    </div>
                    <table id="datatablesSimple" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Access Level</th>
                            <th>Full Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in researchers %}
                        <tr>
                            <td>{{x.access_level}}</td>
                            <td>{{x.first_name}} {{x.last_name}}</td>
                            <td>{{x.username}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.phone_no}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" href="{{url_for('remove', variable=x.user_id)}}">Remove</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
                </div>
            </div>

        </div>
    </div>

{% endblock %}