{% extends "baseForAccess.html" %}
{% block main_content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tables</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="#">Export</a></li>
            <li class="breadcrumb-item active"></li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Export data
            </div>
            <div class="card-body">
                <a href="/exportdata"><button type="submit" class="btn btn-primary">Export Data</button></a>
            </div>
        </div>
    </div>
</main>
{% endblock %}