{% extends "baseForAccess.html" %}
{% block main_content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tables</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="#">Export</a></li>
            <li class="breadcrumb-item active">Table</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Export data
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    {% for result in results %}
                    <tr>
                        <td>{{ result['patient_id'] }}</td>
                        <td><a href="/data/{{ result['patient_id'] }}">data</a></td>
                    </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}