{% extends "base.html" %}
{% block base_content %}
{% from "includes/_formHelper.html" import render_field %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                            <div class="card-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                              <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="user" data-bs-toggle="tab" data-bs-target="#patient_login_form_button" type="button" role="tab" aria-controls="home" aria-selected="true">Patient</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="staff" data-bs-toggle="tab" data-bs-target="#admin_login_form_button" type="button" role="tab" aria-controls="profile" aria-selected="false">Staff</button>
                              </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="patient_login_form_button" role="tabpanel" aria-labelledby="user">
                                  <form method="POST" action="" enctype="multipart/form-data">
                                      <div class="form-group">
                                        {{ render_field(patient_login_form.username, class="form-control") }}
                                      </div>
                                      <div class="form-group">
                                        {{ render_field(patient_login_form.password, class="form-control") }}
                                      </div>
                                      <div class="form-group">
                                        {{ render_field(patient_login_form.patient_submit, class="form-control") }}
                                      </div>
                                </form>
                              </div>
                              <div class="tab-pane fade" id="admin_login_form_button" role="tabpanel" aria-labelledby="staff">
                                  <form method="POST" action="" enctype="multipart/form-data">
                                      <div class="form-group">
                                        {{ render_field(admin_login_form.username, class="form-control") }}
                                      </div>
                                      <div class="form-group">
                                        {{ render_field(admin_login_form.password, class="form-control") }}
                                      </div>
                                      <div class="form-group">
                                        {{ render_field(admin_login_form.staff_submit, class="form-control") }}
                                      </div>
                                </form>
                              </div>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a href="/register">Need an account? Sign up!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock %}