{% extends "navbar.html" %}
{% block navbar_content %}
{% from "includes/_formHelper.html" import render_field %}
<h1>Document Submission</h1>
<form method="POST" action="" enctype="multipart/form-data">
  <div class="form-group">
    {{ render_field(form.sender, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.recipient, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.submission, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.submit, class="form-control") }}
  </div>
</form>
{% endblock %}