{% extends "navbar.html" %}
{% block navbar_content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tables</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Blockchain
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Timestamp</th>
                            <th>Transaction</th>
                            <th>Proof</th>
                            <th>Previous Hash</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Index</th>
                            <th>Timestamp</th>
                            <th>Transaction</th>
                            <th>Proof</th>
                            <th>Previous Hash</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for x in chain %}
                        <tr>
                            <td>{{x['index']}}</td>
                            <td>{{x['timestamp']}}</td>
                            <td>Sender:{{x['transactions']}} Recipient:{{x['transactions']['recipient']}} File Hash:{{x['transactions']['hash']}}</td>
                            <td>{{x['proof']}}</td>
                            <td>{{x['previous_hash']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}