{% extends "baseForAccess.html" %}
{% block main_content %}
{% from "includes/_formHelper.html" import render_field %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Appointment</h3></div>
                            <div class="card-body">
                                {% if appointment == None %}
                                <p>You currently do not have any appointment booked</p>
                                <div class="text-center">
                                    <a href="/appointment"><button type="submit" class="btn btn-primary">Book Appointment</button></a>
                                </div>
                                {% else %}
                                <p>Your next appointment is on  {{ appointment }}</p>
                                <div class="text-center">
                                    <a href="/cancelappointment"><button type="submit" class="btn btn-danger">Cancel Appointment</button></a>
                                </div>
                                {% endif %}
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}